

// Process Parameters:

// Process Parameters for mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers:
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.method =  "score"  //* @dropdown @options:"score, align" @description:"MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."  @title:"General parametrs"
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.maxerror =  0.05  //* @input @description:"Maximum allowable error rate. Default value 0.05."
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.revpr =  "false"  //* @checkbox @description:"Check the box to activate revpr option" @tooltip:"specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the –maxlen argument, such that the search window begins at the tail-end of the sequence."
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.failed =  "true"  //* @checkbox @description:"Check the box to activate failed option" @tooltip:"specify to output the failed sequences as well."
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.pf =  "PRIMER"  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.primer_start =  4  //* @input @description:"The starting position of the c primer. Default value 15" @tooltip:"See Stern2014 pRESTO protocol for details." @title:"score parametrs"
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.maxlen =  50  //* @input @description:"Length of the sequence window to scan for primers. Default value 50." @title:"align parametrs"
params.mask_primer_m1s_z_start_4_Mask_M1S_and_Z_primers.skiprc =  "false"  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"

// Process Parameters for mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers:
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.method =  "score"  //* @dropdown @options:"score, align" @description:"MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."  @title:"General parametrs"
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.maxerror =  0.05  //* @input @description:"Maximum allowable error rate. Default value 0.05."
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.revpr =  "false"  //* @checkbox @description:"Check the box to activate revpr option" @tooltip:"specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the –maxlen argument, such that the search window begins at the tail-end of the sequence."
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.failed =  "true"  //* @checkbox @description:"Check the box to activate failed option" @tooltip:"specify to output the failed sequences as well."
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.pf =  "PRIMER"  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.primer_start =  4  //* @input @description:"The starting position of the c primer. Default value 15" @tooltip:"See Stern2014 pRESTO protocol for details." @title:"score parametrs"
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.maxlen =  50  //* @input @description:"Length of the sequence window to scan for primers. Default value 50." @title:"align parametrs"
params.mask_primer_m1s_z_start_5_Mask_M1S_and_Z_primers.skiprc =  "false"  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"

// Process Parameters for mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers:
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.method =  "score"  //* @dropdown @options:"score, align" @description:"MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."  @title:"General parametrs"
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.maxerror =  0.05  //* @input @description:"Maximum allowable error rate. Default value 0.05."
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.revpr =  "false"  //* @checkbox @description:"Check the box to activate revpr option" @tooltip:"specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the –maxlen argument, such that the search window begins at the tail-end of the sequence."
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.failed =  "true"  //* @checkbox @description:"Check the box to activate failed option" @tooltip:"specify to output the failed sequences as well."
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.pf =  "PRIMER"  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.primer_start =  4  //* @input @description:"The starting position of the c primer. Default value 15" @tooltip:"See Stern2014 pRESTO protocol for details." @title:"score parametrs"
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.maxlen =  50  //* @input @description:"Length of the sequence window to scan for primers. Default value 50." @title:"align parametrs"
params.mask_primer_m1s_z_start_6_Mask_M1S_and_Z_primers.skiprc =  "false"  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"

// Process Parameters for mask_primer_m1s_z_align_Mask_M1S_and_Z_primers:
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.method =  "score"  //* @dropdown @options:"score, align" @description:"MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details."  @title:"General parametrs"
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.maxerror =  0.05  //* @input @description:"Maximum allowable error rate. Default value 0.05."
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.revpr =  "false"  //* @checkbox @description:"Check the box to activate revpr option" @tooltip:"specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the –maxlen argument, such that the search window begins at the tail-end of the sequence."
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.failed =  "true"  //* @checkbox @description:"Check the box to activate failed option" @tooltip:"specify to output the failed sequences as well."
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.pf =  "PRIMER"  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.primer_start =  4  //* @input @description:"The starting position of the c primer. Default value 15" @tooltip:"See Stern2014 pRESTO protocol for details." @title:"score parametrs"
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.maxlen =  50  //* @input @description:"Length of the sequence window to scan for primers. Default value 50." @title:"align parametrs"
params.mask_primer_m1s_z_align_Mask_M1S_and_Z_primers.skiprc =  "false"  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"

// Process Parameters for Mask_Primer_mask_primers:
params.Mask_Primer_mask_primers.method =  "score"  //* @dropdown @options:"score, align" @description: "MaskPrimer primer identification options. Default score " @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"General parametrs"
params.Mask_Primer_mask_primers.maxerror_cprimer =  0.2  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.Mask_Primer_mask_primers.maxerror_vprimer =  0.2  //* @input @description:"Maximum allowable error rate. Default value 0.2."
params.Mask_Primer_mask_primers.revpr =  "false"  //* @checkbox @description:"Check the box to activate revpr option. " @tooltip:"Specify to match the tail-end of the sequence against the reverse complement of the primers. This also reverses the behavior of the –maxlen argument, such that the search window begins at the tail-end of the sequence."
params.Mask_Primer_mask_primers.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Mask_Primer_mask_primers.pf =  "PRIMER"  //* @input @description:"Name of the annotation field containing the primer name. Default PRIMER"
params.Mask_Primer_mask_primers.nproc =  "1"  //* @input @description:"Number of nproc to use for running MaskPrimers. Default value 1."
params.Mask_Primer_mask_primers.cprimer_position =  "R1"  //* @dropdown @options:"R1, R2" @description:"The position for the C primer location, either R1 or R2. Default R1 " @tooltip:"See https://presto.readthedocs.io/ for more details." @title:"barcode parametrs"
params.Mask_Primer_mask_primers.umi_position =  "R1"  //* @dropdown @options:"R1, R2" @description:"The position for the UMI location, either R1 or R2. Default R1 "@tooltip:"See https://presto.readthedocs.io/ for more details."
params.Mask_Primer_mask_primers.barcode_both =  "false"  //* @checkbox @description:"Check the box to activate the barcode option of both R1 and R2, if true adding umi length to both sides. Default false"
params.Mask_Primer_mask_primers.cprimer_start =  0  //* @input @description:"The starting position of the c primer. Default value 15." @tooltip:"See Stern2014 pRESTO protocol for details." @title:"score parametrs"
params.Mask_Primer_mask_primers.vprimer_start =  0  //* @input @description:"The starting position of the v primer. Default value 0." @tooltip:"See Stern2014 pRESTO protocol for details."
params.Mask_Primer_mask_primers.umi_length =  15  //* @input @description:"The length of the UMI. Default value 15." @tooltip:"See Stern2014 pRESTO protocol for details."
params.Mask_Primer_mask_primers.maxlen =  50  //* @input @description:"Length of the sequence window to scan for primers. Default value 50." @title:"align parametrs"
params.Mask_Primer_mask_primers.skiprc =  "false"  //* @checkbox @description:"Check the box to prevent checking of sample reverse complement sequences. Default false"

// Process Parameters for split_seq_samples:
params.split_seq_samples.field =  "PRIMER"  //* @input @description: "Annotation field to split sequence files by. Default PRIMER. "

// Pipeline Config:
$HOSTNAME='default'
